<div class="w-full max-w-screen-2xl mx-auto flex justify-between items-center px-7 md:px-24 mt-8">
	<div class="w-72 h-96 bg-white rounded-lg py-4 px-6 text-gray-800">
		<h4>Категорії</h4>
		<div class="mt-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center">
					<input id="medical_models" type="radio" class="appearance-none bg-gray-800 checked:bg-yellow-500 bg-none " />
					<label for="medical_models" class="ml-2">Медичні моделі</h5>
				</div>
				<p>765</p>
			</div>
		</div>
		<div class="mt-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center">
					<input id="engineer_models" type="radio" class="appearance-none bg-gray-800 checked:bg-yellow-500 bg-none " />
					<label for="engineer_models" class="ml-2">Інженерні деталі</h5>
				</div>
				<p>23</p>
			</div>
		</div>
		<div class="mt-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center">
					<input id="radio_models" type="radio" class="appearance-none bg-gray-800 checked:bg-yellow-500 bg-none " />
					<label for="radio_models" class="ml-2">Радіо пристрої</h5>
				</div>
				<p>18</p>
			</div>
		</div>
		<div class="mt-3">
			<div class="flex justify-between items-center">
				<div class="flex items-center">
					<input id="new_models" type="radio" class="appearance-none bg-gray-800 checked:bg-yellow-500 bg-none " />
					<label for="new_models" class="ml-2">Новітні технології</h5>
				</div>
				<p>11</p>
			</div>
		</div>
	</div>
	<div class="w-7/12">
<div>
	<p>Колекційні фігурки</p>
	<h4>Organic Cubes</h4>
	<p>₴ 329</p>
	<div>
		
	</div>
</div>
	</div>
</div>