<footer class="w-full bg-gray-800 pb-8">
	<div class="w-full max-w-screen-2xl mx-auto px-7 xl:px-24">
		<div class="block mx-auto text-center xl:text-left xl:flex xl:justify-between xl:items-center py-16">
			<div class="w-40 mx-auto xl:mx-0">
				<%= image_tag("partials_img/logo_footer.png") %>
			</div>
			<div class="w-full mt-3 xl:mt-0 xl:w-1/6 xl:ml-32 text-grey leading-8 uppercase pt-1">
				<ul>
					<!-- menu links -->
					<li class="mt-4 md:mt-0"><a href="#">Калькулятор</a></li>
					<li class="mt-4 md:mt-0"><a href="#">Магазин</a></li>
					<li class="mt-4 md:mt-0"><a href="#">Мій кабінет</a></li>
				</ul>
			</div>
			<div class="w-full mt-8 xl:mt-0 xl:w-1/6 text-white leading-8">
				<h4 class="text-grey uppercase">Контакти</h4>
				<p>+380-067-364-6509</p>
				<p>3d.storm.des@gmail.com</p>
			</div>
			<div class="w-full mt-8 xl:mt-0 xl:w-1/6 text-white leading-8">
				<h4 class="text-grey uppercase">Адреса</h4>
				<p>вул. Тисменицька, 248</p>
				<p>Івано-Франківськ</p>
			</div>
		</div>
		<div class="flex justify-between items-center text-grey border-t border-gray-500 pt-6">
			<p>©2021 Всі права захищені</p>
			<div class="w-12 flex justify-between">
				<!-- facebook link -->
				<a href="https://www.facebook.com/3D.Storm.des">
					<div class="w-2.5 h-5">
						<%= image_tag("partials_img/facebook.png") %>
					</div>
				</a>
				<!-- instagram link -->
				<a href="https://www.instagram.com/3d.storm.des/">
					<div class="w-5 h-5">
						<%= image_tag("partials_img/instagram.png") %>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>
</div>