<div id="change_picture">
  <% if current_cart.cart_items.empty? %>
    <div class="absolute inset-1/3 flex flex-col items-center">
      <%= image_tag("partials_img/empty_basket.png") %>
      <p class="text-base text-gray-400 mt-4">Still empty...</p>
    </div>
  <% end %>
</div>
