<div id="change_picture_in_co">
  <% if current_cart.cart_items.empty? %>
    <div class="w-full h-48 flex justify-center items-center">
      <%= image_tag("partials_img/empty_basket.png") %>
      <p class="text-base text-gray-400 mt-4">Still empty...</p>
    </div>
  <% end %>
</div>
