<div id="change_picture_in_co">
  <% if current_cart.cart_items.empty? %>
    <div class="w-full h-fit flex flex-col justify-center items-center py-6">
      <%= image_tag("partials_img/empty_basket.png") %>
      <p class="text-base text-gray-400 mt-4">Still empty...</p>
      <%= link_to 'Back to Products', products_path, class: "w-64 mt-4 bg-yellow-400 flex justify-center items-center rounded-lg text-base text-gray-800 px-4 py-3 text-center sm:px-0 font-medium uppercase" %>
    </div>
  <% end %>
</div>
