<div id="make_order">
  <% if current_cart.cart_items.present? %>
    <div class="flex justify-between items-center text-sm text-gray-800 font-medium">
      <h5>
        <%= t('basket.content.summary') %>
      </h5>
      <p><%= render "carts/total_price" %></p>
    </div>
    <%= link_to t('basket.content.btn'), checkout_path, class: "w-full mt-10 flex justify-center items-center text-base
     text-gray-800 bg-yellow-400 font-medium px-4 py-3 rounded-lg uppercase hover:bg-yellow-500 cursor-pointer transition ease-in duration-400" %>
  <% else %>
    <%= link_to 'Back to Products', products_path, class: "w-full mt-10 flex justify-center items-center text-base
    text-gray-800 bg-yellow-400 font-medium px-4 py-3 rounded-lg uppercase hover:bg-yellow-500 cursor-pointer transition ease-in duration-400" %>
  <% end %>
</div>
