@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./stores.scss";
@import "./basket.scss";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';


input[type='radio']:checked, input[type='radio']:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #000;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow)
}
.filling-container{
  position: relative;
  width: 65%;
}
#filling_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1c232;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

#filling_progressBar {
  width: 45%;
  height: 5px;
  background-color: #f1c232;
  border-radius: 3px;
  position: absolute;
  top:12px;
  left: 0;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #dbdbdb9c;
}

::-webkit-scrollbar-thumb {
  background: rgb(195, 194, 194);
  border-radius: 4px;
}

#scene > canvas {
  border-radius: 1rem;
}

.active {
  border-bottom: 2px solid rgb(250 204 21);
  padding-bottom: 3px;
}
